html, body, .App, #root {
  width: 100%;
  height: 100%;
}
html, body, #root, .App, .App * {
  box-sizing: border-box;
}
.App {
  text-align: center;
  background: linear-gradient(237.99deg, #BE7BF2 0%, #735FEC 17.19%, #00BCD4 100%), #FFFFFF;
  color: white;
  padding: 20px;
  font-family: 'Roboto';
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  color: white;
  margin-top: 80px;
}

.App-section {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
