html, body, .App, #root {
  width: 100%;
  height: 100%;
}
html, body, #root, .App, .App * {
  box-sizing: border-box;
}
.App {
  text-align: center;
  background: linear-gradient(237.99deg, #BE7BF2 0%, #735FEC 17.19%, #00BCD4 100%), #FFFFFF;
  color: white;
  font-family: 'Roboto';
  padding:100px 20px 20px 20px;
}
