body {
  margin: 0;
  padding: 0;
  font-family: 'Inter var', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  color: #001A12;
  padding:100px 20px 20px 20px;
}

html, body, .App, #root {
  width: 100%;
  min-height: 100%;
  height: auto;
}
html, body, #root, .App, .App * {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

h1.title,
h1.subtitle,
h2.subtitle {
  font-family: big-caslon-fb, serif;
  font-weight: 400;
  font-style: normal;
}

h1.title {
  font-size: 62px;
}

h1.subtitle {
  font-size: 48px;
}

h2.subtitle {
  font-size: 32px;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Inter var', sans-serif;
  text-align: center;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 20px;
}
p {
  font-size: 14px;
  line-height: 150%;
}
p.big {
  font-size: 20px;
}
p.strong {
  color: black;
}

.strong {
  font-weight: 700;
}

.addressCont {
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: 'Inter var', sans-serif;
  font-size: 12px;
  color: #797E7C;
}

section {
  max-width: 780px;
  width: 100%;
  margin: 150px auto;
}

section.chari h3, section.chari p {
  text-align: left;
}

section.expert p:last-child {
  max-width: 600px;
  margin: 40px auto;
}

section .subtitle {
  margin-bottom: 50px;
}

section p {
  color: #797E7C;
}

.divider {
  width: 25px;
  height: 25px;
  background-image: url('./assets/coin-divider.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 30px auto;
}

ul {
  display: inline-block;
  text-align: left;
}

li {
  color: #797E7C;
  font-size: 14px;
}

.hospischool-logo {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.quote p {
  font-style: italic;
  font-size: 16px;
  color: black;
  font-weight: 600;
}
.quote a, .quote span {
  font-size: 14px;
  display: block;
  text-align: right;
  margin-right: 20px;
}
.quote a {
  color: #02DB96;
  font-weight: normal;
  background-color: white;
}
.quote span {
  margin-top: 40px;
  margin-bottom: 5px;
  font-weight: 600;
}
