<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <title>Widget Template</title>
  </head>

  <body>
    <script async src="/widget/bundle.js"></script>
  </body>
</html>
