:root {
  --widget-color: pink;

  --fontColor: rgba(0, 0, 0, 0.87);
  --baseColor: #F5F6F7;
  --lightColor: white;
  --midGray: rgba(0, 0, 0, 0.5);
  --lightGray: rgba(0, 0, 0, 0.4);
}

[data-theme="dark"] {
  --fontColor: #ffffff;
  --baseColor: #343434;
  --lightColor: rgba(255, 255, 255, 0.1);
  --midGray: rgba(100, 100, 100, 1);
  --lightGray: rgba(255, 255, 255, 0.7);
}

#DonationWidget {
  background-color: var(--baseColor);
  color: var(--fontColor);
  padding: 2em;
  .expiration {
    margin-bottom: 2em;

    .campaignEnds {
      margin-top: 0.5em;
      color: var(--lightGray);
    }

    .ticker {
      display: flex;
      text-align:center;
      justify-content: space-between;
      width: 100%;
      overflow: auto;

      .value {
        font-size: 3em;
        display:block;
        font-weight: bold;
      }

      .label {
        display:block;
        color: var(--lightGray);
      }

      .tickerItem {
        background-color: var(--lightColor);
        border-radius: 4px;
        padding: 1em;
        width: 64px;
        height: 56px;
        margin: 0;
      }
    }
  }

  .raised {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: var(--widget-color);
  }

  .balanceList {

  }

  label {
    margin-top: 0.5em;
  }

  a, button {
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    font-size: 18px;
    display: inline-block;
    background-color: var(--widget-color);
    border-radius: 4px;
    color: white;
    text-align: center;
    line-height: 18px;
    padding: 19px 20px;
    text-decoration: none;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
  }

  .secondary {
    border-color: var(--widget-color);
    background-color: transparent;
    color: var(--widget-color);
  }

  .contribution {
    text-align: center;
    .address {
      font-size: 1.4em;
      word-break: break-all;
    }

    .copy-to-clipboard {
      white-space: nowrap;
    }

    .qrcode {
      margin:0.5em 0;
    }

    .buttonbar {
      display:flex;
      justify-content: space-between;
      align-items: normal;

    }
    .buttonbar > * {
      flex: 0;
    }
  }
}
