:root {
  --widget-color: pink;

  --fontColor: rgba(0, 0, 0, 0.87);
  --baseColor: #F5F6F7;
  --lightColor: white;
  --midGray: rgba(0, 0, 0, 0.5);
  --lightGray: rgba(0, 0, 0, 0.4);
}

[data-theme="dark"] {
  --fontColor: #ffffff;
  --baseColor: #343434;
  --lightColor: rgba(255, 255, 255, 0.1);
  --midGray: rgba(100, 100, 100, 1);
  --lightGray: rgba(255, 255, 255, 0.7);
}

#DonationWidget {
  background-color: var(--baseColor);
  color: var(--fontColor);
  padding: 2em;
  min-height: 400px;
  box-sizing: border-box;
  position: relative;
  height:100%;

  p {
    margin: 0;
  }
  .expiration {
    border-bottom: 1px solid lightgray;
    margin-bottom: 1em;

    .campaignEnds {
      margin-top: 0.5em;
      padding-bottom: 10px;
      color: var(--lightGray);
      font-size: 0.9em;
    }

    .ticker {
      display: flex;
      text-align:center;
      justify-content: space-between;
      width: 100%;
      overflow: auto;

      .value {
        font-size: 3em;
        display:block;
        font-weight: bold;
      }

      .label {
        display:block;
        color: var(--lightGray);
      }

      .tickerItem {
        background-color: var(--lightColor);
        border-radius: 4px;
        padding: 1em;
        width: 64px;
        height: 56px;
        margin: 0;
      }
    }
  }

  .matchDetails {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1em;
    .offer {
      margin: 0 0 1em 0;
      font-size: 1.2em;
      font-weight: bold;
      // color: var(--midGray);
    }

    .raisedCont {
      border-bottom: 1px solid lightgray;
      padding-bottom: 1em;
      .raised {
        text-align: center;
        h1 {
          margin: 0;
          font-weight: bolder;
          font-size: 2.2em;
          color: var(--widget-color);
        }
        p {
          font-size: 1.2em;
          margin: 0;
          font-weight: bold;
        }
      }
    }
  }

  .progressCont {
    position: relative;
    text-align: center;
    progress[value] {
      -webkit-appearance: none;
      appearance: none;
      height: 28px;
      width: 100%;
      margin: 1em 0;
    }
    progress[value]::-webkit-progress-bar {
      background-color: white;
      border-radius: 4px;
      border: 1px solid var(--widget-color);
    }
    progress[value]::-webkit-progress-value {
      border-radius: 2px;
      background-color: var(--widget-color);
    }
  }

  label {
    margin-top: 0.5em;
  }

  a {
    box-sizing: border-box;
    width: calc(100% - 48px);
    height: 56px;
    font-size: 18px;
    display: block;
    background-color: var(--widget-color);
    border-radius: 4px;
    color: white;
    text-align: center;
    line-height: 18px;
    padding: 19px 20px;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    bottom: 24px;
    left: 24px;
    margin-top: 24px;
  }
}
