$startFixedChars     : 7;
$endFixedChars       : 5;
$fontFaceScaleFactor : 0.5;
$startWidth : 1em * $fontFaceScaleFactor * ($startFixedChars + 3);
$endWidth   : 1em * $fontFaceScaleFactor * $endFixedChars + 3;

.addressCont {
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.address {
  display: inline-block;
  vertical-align: bottom;
  white-space: nowrap;
  overflow: hidden;
}
.address.first {
  text-overflow: ellipsis;
  max-width: calc(100% - #{$endWidth});
  min-width: $startWidth;
  margin-left: 10px;
}
.address.last {
  direction: rtl;
  max-width: calc(100% - #{$startWidth});
  margin-right: 10px;
}
