.button {
  width: auto;
  height: 44px;
  color: white;
  background: #02DB96;
  border-radius: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: normal;
  line-height: 21px;
  margin-top: 40px;
  cursor: pointer;
  padding: 0 40px;
}

.button:hover {

}

.button:active {

}
