.centerRow {
  display: flex;
  flex-direction: row;
  margin-top: 4em;
  justify-content: center;
  align-items: flex-start;
}

.centerColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.halfColumn {
  width: 50%;
  padding: 5px 20px;
  box-sizing: border-box;
}

.halfColumn:first-of-type {
  border-right: 1px solid #BCBCBC;
}

.halfColumn:only-child {
  border: none;
}

.halfColumn p {
  width: 80%;
  margin: 0 auto;
}

.button {
  text-align: center;
}

.disclaimer {
  padding: 3px;
  color: #02DB96;
  font-size: 18px;
  font-weight: 700;
}

.iframeContainer {
  position: relative;
  width: 320px;
  height: 435px;
  display: block;
}

.iframeContainer iframe {
  width: 100%;
  height: 100%;
  border: 0;
  position: absolute;
  left: 0;
  top: 0;
}
