.currentCampaign {
  display: flex;
  flex-direction: row;
  margin-top: 4em;
}

.buttonRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centerColumn {
  text-align: center;
}

.disclaimer {
  padding: 3px;
  color: #02DB96;
  font-size: 18px;
  font-weight: 700;
}
