.createCampaignNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px auto;
  width: 400px;
  padding: 0;
}

.createCampaignNav li {
  list-style-type: none;
  width: auto;
}
.createCampaignNav li a{
  color: white;
  text-decoration: none;
}
.createCampaignNav li a.active {
  text-decoration: underline;
}
