.home {
  background-image: url('./../assets/home-bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 120px;
  min-height: 100%;
  padding-top: 40px;
}
.home header {
  max-width: 70%;
  margin: auto;
}
.home header h1{
  margin-top: 0;
}

.home header p,
.home dl,
.home a {
  color: #797E7C;
}

.home a {
  font-weight: bold;
  text-decoration-skip-ink: none;
}

.home dl {
  text-align: left;
  max-width: 30em;
  margin: 60px auto;

  line-height: 1.4em;
}


.home dl dt {
  color: black;
  font-weight: bold;
  margin-top: 2em;
}

.home dl dd {
  margin-left: 0;
  margin-top: 0.5em;
}
