.home {
  background-image: url('./../assets/home-bg.svg');
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 50%;
  min-height: 100%;
  padding-top: 40px;
  margin-bottom: 60px;
}
.home header {
  max-width: 70%;
  margin: auto;
}
.home header h1{
  margin-top: 0;
}

.home header p,
.home dl,
.home a {
  color: #797E7C;
}

.home a {
  font-weight: bold;
  text-decoration-skip-ink: none;
}

.home dl {
  text-align: left;
  max-width: 60%;
  margin: 60px auto;
  line-height: 1.4em;
}

.home button {
  margin-top: 40px;
}


.home dl dt {
  color: black;
  font-weight: bold;
  margin-top: 2em;
}

.home dl dd {
  margin-left: 0;
  margin-top: 0.5em;
}

.home .iframeContainer {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.home iframe {
  width: 320px;
  height: 435px;
  border-radius: 4px;
  border: 1px solid #D5DAE2;
}

/* .widgetEditor .widget .iframeContainer .spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
} */

/* .widgetEditor .widget iframe.loading {
  visibility: hidden;
} */
