.home {
  background-image: url('./../assets/home-bg.svg');
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 50%;
  min-height: 100%;
  padding-top: 40px;
  margin-bottom: 60px;
}
.home header {
  max-width: 70%;
  margin: auto;
}
.home header h1{
  margin-top: 0;
}

.home header p,
.home dl,
.home a {
  color: #797E7C;
}

.home a {
  font-weight: bold;
  text-decoration-skip-ink: none;
}

.home dl {
  text-align: left;
  max-width: 500px;
  margin: 60px auto;
  line-height: 1.4em;
}

.home button {
  margin-top: 40px;
}


.home dl dt {
  color: black;
  font-weight: bold;
  margin-top: 2em;
}

.home dl dd {
  margin-left: 0;
  margin-top: 0.5em;
}

.iframeContainer {
  position: relative;
  width: 320px;
  height: 435px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.iframeContainer iframe {
  width: 100%;
  height: 100%;
  border: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.fundraiser {
  background-color: #F5F6F7;
  text-align: left;
  max-width: 400px;
  margin: 60px auto;
  box-shadow: 4px 4px 16px -4px rgba(0,0,0,0.15);
  padding: 16px;
}


/* .widgetEditor .widget .iframeContainer .spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
} */

/* .widgetEditor .widget iframe.loading {
  visibility: hidden;
} */
