.widgetEditor {
  display: flex;
  flex-direction: column;
}

.widgetEditor header {
  margin-bottom: 40px;
}

.widgetEditor .description {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 30px;
  line-height: 150%;
}

.widgetEditor .widget {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  width: 100%;
  justify-content: space-between;
}

.widgetEditor .widget .iframeContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 320px;
}

.widgetEditor .widget .iframeContainer .spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
}

.widgetEditor .widget iframe {
  width: 320px;
  height: 480px;
  border-radius: 4px;
  border: 1px solid #D5DAE2;
  position: absolute;
  left: 0;
  top: 0;
}

.widgetEditor .widget iframe.loading {
  visibility: hidden;
}

.widgetEditor .widget .settings {
  width: 50%;
}

.widgetEditor textarea {
  width: 100%;
  height: 200px;
  border: 1px solid #D5DAE2;
  padding: 20px;
  background: #F8F9FA;
  border: 1px solid #D5DAE2;
  border-radius: 4px;
  display: inline-block;
  border-top-left-radius: 0;
}

.widgetEditor .codeContainer {
  position: relative;
  margin-top: 40px;
}

.widgetEditor .codeContainer button {
  position: absolute;
  top: 0;
  left: -44px;
  background-color: #BCBCBC;
  border-radius: 0;
}

.widgetEditor .colorPickerCont {
  position: relative;
}

.widgetEditor .colorPickerCont .picker {
  position: absolute !important;
  z-index: 10;
  left: calc((100% - 276px) / 2);
  top: 60px;
}

.backLink {
  display: flex;
  justify-content: center;
  color: #02DB96;
}
